@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/!----------------------------sourced from Love Running project---------------------/

header {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto';
    color: #777;
}

h2 {
    font-family: 'Exo';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #555;
    
}

#logo {
    float: left;
    font-size: 280%;
    padding-left: 20px;
}

#menu {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 4px;
}

#logo, #menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 1px solid #777;
}

.active{
    border-bottom: 1px solid #777;
}

#yoga-image {
    height: 1500px;
    width: 100%;
    background-size: relative;
    background: url("images/yoga-image.jpeg") no-repeat center center;

    
}

from love running project
#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
    height: auto;
}

#cover-text, #cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 100%;
    font-family: 'Robo';
    letter-spacing: 6px;

    width: 300px;
    height: 300px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(245, 94, 24, 0.582);

    bottom: 150px;
    left: 100px;

    position: absolute;

}

.signup-form {
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa; 
    border-radius: 2px;
    
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    border-radius: 2px;
    margin-top: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(128, 223, 128);
    color: #fafafa;
    display: block;
    
}

.join-button:hover {
    background-color: #fafafa;
    color: rgb(128, 223, 128);
}

sourced from coffeehouse project

#contact {
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-boxes-container {
    width: 66%;
    margin: 0 auto;
}

.contact-box-left {
    width: 250px;
    margin-top: -20px;
	float: left;
}

.contact-box-right {
    width: 250px;
    text-align: right;
    margin-top: -20px;
	float: right;
}

.spacer {
    clear: both;
}

.contact-box-center {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
}

/* map */
#map-wrapper {

    height: 300px;
    margin-bottom: 100px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

#timetable {
    margin-top: 200px;
    color: #fff;
    background-color: rgba(250, 141, 16, 0.466);
    max-width: 1000px;
    position: absolute;
    left: 10%;
    padding: 30px;
    column-fill: balance;
    
}

#prices {
    margin-top: 200px;
    color: #fff;
    background-color: rgba(250, 141, 16, 0.466);
    max-width: 1000px;
    position: fixed;
    left: 10%;
    padding: 30px;

}

footer {
	background-color: rgba(235, 131, 46, 0.548);
	padding: 1em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
	z-index: 3;
}

footer > span {
	color: #777;
}

footer > a {
	color: #555;
	text-decoration: none;
	padding: 0 15px;
	font-size: 0.8rem;
}

footer > p {
	color: #555;
}
